.icon-user {
    background-image: url(../images/user.png) !important;
}

.icon-user-add {
    background-image: url(../images/user_add.gif) !important;
}

.icon-save {
    background-image: url(../images/save.png) !important;
}

.icon-reset {
    background-image: url(../images/stop.png) !important;
}

.icon-grid {
    background-image: url(../images/grid.png) !important;
}

.icon-add {
    background-image: url(../images/add.png) !important;
}

.icon-delete {
    background-image: url(../images/delete.png) !important;
}

.icon-company {
    background-image: url(../images/company.gif) !important;
}

.icon-discipline {
    background-image: url(../images/discipline.png) !important;
}


.icon-company {
    background-image: url(../images/company.gif) !important;
}

.icon-plus {
    background-image: url(../images/plus.png) !important;
}

.icon-del {
    background-image: url(../images/del.png) !important;
}

.icon-down {
    background-image: url(../images/like.png) !important;
}

.icon-remove {
    background-image: url(../images/remove.png) !important;
}


.icon-like {
    background-image: url(../images/down.png) !important;
}


.icon-next {
    background-image: url(../images/next.gif) !important;
}

.icon-ok {
    background-image: url(../images/ok.gif) !important;
}

.icon-find {
    background-image: url(../images/find.gif) !important;
}

.icon-trash {
    background-image: url(../images/trash.gif) !important;
}

.icon-subject {
    background-image: url(../images/subject.png) !important;
}

.icon-exam {
    background-image: url(../images/exam.png) !important;
}

.icon-question {
    background-image: url(../images/question.png) !important;
}

.icon-simulated {
    background-image: url(../images/simulated.png) !important;
}

.icon-dxq {
    background-image: url(../images/dxq.png) !important;
}

.icon-db {
    background-image: url(../images/db.png) !important;
}

.icon-relation {
    background-image: url(../images/relation.png) !important;
}